---
layout: default
---

<div class="home">

    <div id="main" class="call-out">
        <h1> {{ site.header_text | default: "Change <code>header_text</code> in <code>_config.yml</code>"}} </h1>
    </div>

    {% include blog.html %}

</div>
